@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

/* === Tailwind Layers === */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Custom CSS Variables === */
:root {
  --font-base: "Poppins", sans-serif;
  --layout-side-padding: 2rem;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --orange-color: #FF3400;
}

/* === Global Reset & Scroll Behavior === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}